#displayContents {
    margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 30%;
	gap: 8px;
}
/* Split the screen in half */
.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	/* top: 0; */
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
	left: 5%;
  }
  
  /* Control the right side */
  .right {
	right: 10%;
  }
/* .centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  } */

/* Using an ID selector */
#backButton.btn-secondary {
	background-color: rgb(203, 68, 68);
}
#loginButton.btn-secondary {
	background-color: green;
}
#submitButton.btn-secondary {
	background-color: green;
}
#removeCommentsButton.btn-secondary {
	background-color: rgb(45, 166, 43);
}
#toJSONButton.btn-secondary {
	background-color: rgb(45, 166, 43);
}


#displayContents {
	flex:1;
	width: 50%;
	float: left;
	height: 100%;
	z-index: 1010101010;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 30%;
	gap: 8px;

	position:relative;
	float:left;
  }
  
  #toolContents{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	flex:1;
	/* position: relative; */
	width: 50%;
	float: right;
	height: 100%;
	z-index: 1010101010;
  }