#displayContents {
    margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 30%;
	gap: 8px;
}
.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

/* Control the left side */
.left {
	left: 0;
}
  
  /* Control the right side */
.right {
	right: 100%;
	padding: 50px;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }

/* Using an ID selector */
#backButton.btn-secondary {
	background-color: rgb(203, 68, 68);
}
#loginButton.btn-secondary {
	background-color: green;
}
#submitButton.btn-secondary {
	background-color: green;
}
#removeCommentsButton.btn-secondary {
	background-color: rgb(45, 166, 43);
}
#toJSONButton.btn-secondary {
	background-color: rgb(45, 166, 43);
}